!!!
- html_options = Rails.env.production? ? {manifest: 'application.manifest'} : {}
// TODO: update to ServiceWorker
%html{html_options}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    %title Home

    = csrf_meta_tags
    = stylesheet_link_tag :application, media: :all, 'data-turbolinks-track': 'reload'

  %body
    .container-fluid
      = yield

    = javascript_include_tag :application, 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'home_screen'
